@import 'colors.css';

.App {
  text-decoration: none;
  text-align: center;
  background-color: var(--black);
}

.text {
  color: var(--white);
}

.App-header {
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}